schemas/graveyard/schema_roleography.rnc

start = roleography
roleography = element roleography {(role* | id? | type? | polity?)*}

role = element role {(id?, emic?, type?, polity?)}

id = attribute xml:id {xsd:ID}

emic = attribute emic {text}

type = attribute type {"rank" | "title" | "ethnonym" | "occupation"}*
#If the role refers to a specific job with responsibilities, then it is a "rank"; if it refers only to an honorary designation, then it is a "title"

polity = attribute polity {"britain" | "bukhara" | "hyderabad" | "russia"}