schemas/persian_documents_schema_basic.rnc

# Schema follows some of the EpiDoc guidelines (http://www.stoa.org/epidoc/gl/latest/), and equivalencies are noted in comments.

# Document always refers to the entire textual unit in question, from a half page archival document to a 500 page manuscript. 
# Most documents annotated in XML using this schema will only be a few pages.

start = document
document = element document { serial, doc_div* }

serial = attribute serial { xsd:int }

# METADATA
# In previous versions a lot more metadata was held at the document level. 
# However, for now all information but the document Unique ID will be held in the relational database instead (which is why the previous categories are commented out).

#metadata = element metadata { unique_id }
unique_id = element unique_id { text }

# metadata =
#    element metadata {
#        archive, serial, entity, language, original, complete, cat_gloss, cat_date, gloss, keywords
#    }
# archive = element archive { arc_name, call, fol }
# arc_name = element name { "IVANUz" | "NAI" | "RGVIA" | "RGIA" | "TsGARUz" | "USSR" }
# Refers to Archive Acronym
# call = element call { text }
# fol = element fol { text }
# serial = element serial { xsd:int }
# Internal reference number
# entity = element entity { "Bukhara" | "Britain" | "Hyderabad" | "Russia" | "USSR" }
# The political entity that produced the document
# original = element original { original_type }
# original_type = attribute type { "original" | "scan" | "notes" | "photocopy" }
# Copy of the document, scan, or just notes
# complete = element complete { complete_type }
# complete_type = attribute type { "yes" | "partial" | "errors" }
# PROBLEM: need to make repeatable
# cat_gloss = element cat_gloss { text }
# The actual catalog description (in original language of the catelog, but transcribed into Roman characters)
# cat_date =
#    element cat_date {
#        mixed { (jul_date? | greg_date? | hij_date?)* }
#    }
jul_date = attribute jul_date { text }
greg_date = attribute greg_date { text }
hij_date = attribute hij_date { text }


# On the topic of dates, we encourage you to explore the xsd:dateTime datatype and consider its 
# usefulness for you in defining what a date should actually look like in your document. It uses ISO 
# format, and it's particularly useful if you have to do date arithmetic, or determine the day of the
# week for a particular date. The downside is that ISO 8601 dates are always Gregorian because they
# refer to the date as a fact, and not as recorded in a particular document. Some developers will write
# the date as it appears in the document (perhaps according to the Julian calendar) and then include
# the ISO date (necessarily Gregorian) as an attribute value. 


# gloss = element gloss { text }
# An ad-hoc description of the contents (in English)
# keywords = element keywords { text }
# Misc keywords of possible interest; no attempt to standardize or limit

# BODY TEXT
# __Body__ contains the entire text of the 'document'

# (I) Diplomatic Annotation

#body = element body { (doc_div* | pg?)* }
#Note: since metadata is tracked elsewhere, this is effectively redundant.

#  (i-a) Page number is a milestone element; attribute Folio refers to internal pagination
pg = element pg { folio, empty }
folio = attribute folio { text }
page = attribute page { text }


# (i-b) Document division can refer to any kind of structural divider within a text: paragraph, invocatio, diagonal writing, etc.


divLike = mixed { ( glossed | lb | doc_div | individual | intertext | work | term | ts | location | emic_id | etym | sem | orth | date | pg | flag | honorific | financial | legal | lang)* }


doc_div = element div {div_type, divLike }


# removed from permissible attribute values: "closing", "couplet", and "preamble", because these are all topical structures, and should therefore be captured by <ts>
# removed from permissible attricute values: "line" which is now a separate element (<lb>); "gloss" (contained in relational database); and "report (specific to Russian documents, which will not use this schema)

div_type =
    attribute type { "heading" | "marginalia" | "section" | "sentence" | "seal" }

# (i-c) Lines
# I don't see any reason to code lines as milestones, as in EpiDoc. 
# I previously coded lines as an attribute of <div>, but switched them to their own element just because that was cumbersome.

# When expanded, <lb>, at least as used by the TEI, means "line beginning", and it's typically treated as an empty milestone element, rather than a 
# wrapper element, since semantically it indicates a point between lines (like a milestone marker on a road), and does not contain a line. 
# An easy alternative solution to this high-level problem is simply to rename your <lb> elements as <line> or <l> elements, to make your descriptive markup more 
#faithful to its intended use. XML processors don't know what element names mean, which is why tag abuse isn't an XML error, 
# but life is easier for humans if element and attribute names correspond to what we think they mean intuitively.

lb = element lb { empty }

# Gloss: Formalized commentary for display purposes; comments reserved for informal notes.

glossed = element glossed {target, gloss }
gloss = element gloss {text}
target = element target {text}

# lb = element lb { mixed {(flag)}*}


# Marginalia references, local to the document: TBD. This is done in TEI using <metamark> (http://tei.oucs.ox.ac.uk/release/doc/tei-p5-doc/en/html/ref-metamark.html).
# Will involve empty element citation-style references, e.g. <s n="note1"/> <e n="note1"/> surrounding the marginal note, and then seomething like <note n="note1"/> in the text.


# (II) Thematic Sections

# The milestone element <ts> ("thematic section) is used for coding the topical structure of document.
# It uses conventions established for medieval diplomatics:
# "The introduction comprises, first, the invocation (invocatio) of God, either by name or through a symbol such as the cross; 
# second, the superscription (intitulatio), giving the name and title of the sender; 
# and third, the address (inscriptio), naming those to whom the document is directed, 
# usually followed by a formula of greeting (salutatio)."

ts = element ts { ts_type, empty }
ts_type = attribute type { "salutatio" | "narratio" | "inscriptio" | "intitulatio" | "invocatio" }


# (III) Transcription Annotation

# Dealing with transcription problems in the text. TEI EpiDoc uses the following conventions (inter alia):
# Illegible Characters, Quantity Unknown: <gap reason="illegible" extent="unknown"unit="character"/>. Here this corresponds to <flag type=gap>
# Ambiguous Characters: <unclear>, with a more complicated variant when possible alternatives are offered (http://www.stoa.org/epidoc/gl/latest/trans-ambiguousalt.html). Here this corresponds to <flag type="unclear">.

flag = element flag { flag_type, text }
flag_type = attribute type { "orthography" | "transcription" | "meaning" | "unclear" | "gap" }


# (IV) Historical Annotation

# These categories overlap with tables in the relational database. However, this markup will mostly be used to extract information from the documents (at least initially).
# For the most part, I will not be manually marking strings that I know are common and can easily be captured by a machine, at least initially.

# (iv-a) Individuals 
# Corresponding relational database table titled "Prosopography."
# This is used exclusively for proper nouns, i.e. when the name of an individual is referenced. (Previously I coded implicit references as well: no longer.)

individual =
    element individual {ind_id?,
        mixed { (role | honorific | location | flag)* }
    }
ind_id = attribute id { text }

 
# (iv-b) Locations
# Corresponding to relational database table titled "Gazetteer."
# Places, institutions, etc.

location = element location { loc_id?, text }
loc_id = attribute id { text }
# will eventually be an idref#
emic_id = element emic_id { emic_type, text }
emic_type = attribute type { text }


# (iv-c) Social Role
# Any generalized term that refers to a person (e.g. military rank, confession, ethnicity).

role = element role { role_id, text }
role_id = attribute id { text }

# (iv-d) Knowledge Form


# (iv-e) Technical Terminology
# consistency / definitional issues: what qualifies as a "technical term"?

term = element term { term_type?, text }
term_type = attribute type { "admin" | "genre" | "injunction" | "request" }
# "injunction" is an order from a superior to an inferior; "request" is the inverse, a missive 


# (iv-f) Textual Works
# Tag for anytime the title of another work (usually a classical source of some kind) is invoked in the text.

work = element work {text}

# (iv-g) Intertextual Reference
# Separate ids for Qur'an, Hadith, and references to the Bibliography (text_id)
# This element wraps around the entire quoted text.

intertext =
    element intertext {
        mixed { quran_id | hadith_id | text_id }
    }
quran_id = attribute quran_id { text }
hadith_id = attribute hadith_id { text }
text_id = attribute text_id { text }


# (iv-h) Honorifics
# This is a loose category (not currently corresponding to any table in the relational database) designed to produce a lexicon of common honorifics.
# Targets the smallest possible unit.

honorific =
    element honorific {
        mixed { pg? }
    }
    
 
 
# (V) Linguistic Annotation

# (v-i) Etymology
# Names of places and people not marked: only words for which the semantic meaning is central.
# This primarily targets unusual occurances; Arabic loan words are ubiquitous in Persian and (presumably) easy to mark by machine, so not marked with this element.
# Meanwhile, Indic loan words and Turkic loan words are relatively uncommon in writing, and a lexicon created by this element may be useful down the road.

etym = element etym { etym_type, text }
etym_type = attribute type { "turkic" | "indic" | "english" | "russian" }


# (v-ii) Semantics
# Flags words with an unusual meaning. Specifically, this generally marks etymologically Arabic and Persian words used with a meaning specific to the regional context (i.e. Central or South Asia).

sem = element sem {text}

# (v-iii) Language Flag
# This element flags linguistic features that may later be useful for systemic analysis (e.g. calques, grammar).

lang = element lang { lang_type, text }
lang_type =
   attribute type {
        list { ("turk_calque" | "indic_calque" | "syntax" | "tajik")+ } }
# "tajik" marks any construction that is specific to Central Asia, but not directly borrowed from Turkic.

orth = element orth { orth_type, text }
orth_type = attribute type { "misspelling" }
# Currently this is used mostly to track common mispellings, not including proper nouns.



# __Date__ format is day/month/year for all three
date = element date { (jul_date | greg_date | hij_date), text }

# On the topic of dates, we encourage you to explore the xsd:dateTime datatype and consider its 
# usefulness for you in defining what a date should actually look like in your document. It uses ISO 
# format, and it's particularly useful if you have to do date arithmetic, or determine the day of the
# week for a particular date. The downside is that ISO 8601 dates are always Gregorian because they
# refer to the date as a fact, and not as recorded in a particular document. Some developers will write
# the date as it appears in the document (perhaps according to the Julian calendar) and then include
# the ISO date (necessarily Gregorian) as an attribute value. 


        
# __Financial__ data, e.g. prices, salaries, etc.
financial = element financial { financial_type, text }
financial_type = attribute type { "salary" | "price" | "debt" }
# __Legal__ tracks legal terms
legal = element legal { text }
